<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange</title>
</head>
<body>

<h1 style="text-align: center">Currency Exchange</h1>

<form style="text-align: center" action="/" method="post" id="currencyForm">
    <div style="display: flex; margin-left: 28%; margin-top: 2%">
        <div style="margin-right: 25px; margin-left: 25px">
            <label style="font-size: 20px; font-weight: bold; text-align: center" for="first_currency">First currency:</label>
            <input  type="text" id="first_currency" name="first_currency"><br><br>
        </div>

        <div style="margin-right: 20px">
            <label style="font-size: 20px; font-weight: bold; text-align: center"  for="second_currency">Second currency:</label>
            <input type="text" id="second_currency" name="second_currency">
        </div>

        <div style="margin-top: 3px">
            <button type="submit" form="currencyForm" value="Submit">Submit</button>
        </div>
    </div>
</form>



<h2 style="text-align: center">{{rate}}</h2>

<h2 style="margin-top: 100px; text-align: center">I am sorry if the joke is inappropriate. It is the joke API's fault :)</h2>
<h3 style="text-align: center">{{joke}}</h3>

</body>
</html>